- name: Install Drozer apt requirements
  apt:
    name={{ item }}
    update_cache=yes
    cache_valid_time=3600
    install-recommends=no
    state=present
  with_items:
    - libxml2-dev
    - libxslt1-dev

- name: Install Drozer pip requirements
  pip:
    name={{ item }}
    state=latest
  with_items:
    - protobuf
    - pyopenssl
    - twisted
    - iconv
    - drozer
  