---
# file: kali.yml
- hosts: kali
  become: yes
  become_method: sudo
  roles:
    - role: demo
      tags: demo
    - role: gitrepos
      tags: gitrepos
    # - role: elasticsearch
    #   tags: elasticsearch
    - role: drozer
      tags: drozer
  vars:
    - tools_dir: /tools
    - hostname: "njones-mwr-kali"
    - kali_ufw_tcp_allow:
        - 22
